# API Url
API_URL=http://localhost:3000/api
# Discord Admin IDs (comma-separated)
#AUTH_DISCORD_ADMIN_IDS=
# Discord OAuth2 client ID and secret
#AUTH_DISCORD_CLIENT_ID=
#AUTH_DISCORD_CLIENT_SECRET=
# Enable login with Discord
#AUTH_DISCORD_ENABLED=true
# GitHub Admin IDs (comma-separated)
#AUTH_GITHUB_ADMIN_IDS=
# GitHub OAuth2 client ID and secret
#AUTH_GITHUB_CLIENT_ID=
#AUTH_GITHUB_CLIENT_SECRET=
# Enable login with GitHub
#AUTH_GITHUB_ENABLED=true
# Google Admin IDs (comma-separated)
#AUTH_GOOGLE_ADMIN_IDS=
# Google OAuth
#AUTH_GOOGLE_CLIENT_ID=
#AUTH_GOOGLE_CLIENT_SECRET=
# Enable login with Google
#AUTH_GOOGLE_ENABLED=true
# Twitter Admin IDs (comma-separated)
#AUTH_TWITTER_ADMIN_IDS=386584531353862154
# Twitter OAuth2 Consumer Key and Consumer Secret
#AUTH_TWITTER_CONSUMER_KEY=
#AUTH_TWITTER_CONSUMER_SECRET=
# Enable login with Twitter
#AUTH_TWITTER_ENABLED=true
# Enable login with password
AUTH_PASSWORD_ENABLED=true
# Enable user registration
AUTH_REGISTER_ENABLED=true
# Solana accounts that get the Admin role (comma-separated)
AUTH_SOLANA_ADMIN_IDS=
# Enable login with Solana
AUTH_SOLANA_ENABLED=true
# Set Cloak keychain and master key (generate with `pnpm cloak generate` or visit https://cloak.47ng.com in a private window)
CLOAK_MASTER_KEY=
CLOAK_KEYCHAIN=
# Domains to allow cookies for (comma-separated)
COOKIE_DOMAINS=localhost,127.0.0.1
# URL of the database to connect to
DATABASE_URL="postgresql://tokengator:tokengator@localhost:5432/tokengator?schema=public"
# Enable database provisioning
DATABASE_PROVISION=true
# Enable GraphQL Playground
GRAPHQL_PLAYGROUND=true
# JWT Secret (generate a random string with `openssl rand -hex 32`)
JWT_SECRET=
# Host to listen on
HOST=127.0.0.1
# Port to listen on
PORT=3000
# Session Secret (generate a random string with `openssl rand -hex 32`)
SESSION_SECRET=
# Solana Cluster endpoints
SOLANA_ENDPOINT=
# Solana Fee Payer (Byte array as a comma-separated list of numbers with brackets: '[1,2,3]')
# FEESyimdmwzSQA99FqCVMn8rYYQdnRBguXh8AWdwJUcc
SOLANA_FEE_PAYER_SECRET_KEY='[152,222,146,61,189,252,198,154,44,101,236,177,170,27,231,52,185,128,234,101,214,247,206,97,166,183,126,170,165,179,147,21,211,103,95,129,144,43,47,17,229,174,40,46,25,82,14,6,95,118,169,245,129,172,149,69,220,91,111,240,248,63,102,37]'
# Solana Fee Payer Minimal Balance (in SOL)
SOLANA_FEE_PAYER_MINIMAL_BALANCE=1
# The URL of the Web UI, used to redirect to the Web UI after login.
# In a typical deployment, this is the same as the API_URL with the '/api' suffix removed (the default).
# This means you will probably only need to set this if you are running a local development setup.
WEB_URL=http://localhost:4200
